.contentTop {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  
  .contentTopLeft {
    border-radius: 40px;
    width: 895px;
    height: 325px;
    background: #282828;
  }
  .contentTopRight {
    border-radius: 40px;
    width: 587px;
    height: 325px;
    background: #282828;
  }
}
