.form {
  margin-right: 100px;
  border-radius: 70px;
  width: 989px;
  height: 825px;
  backdrop-filter: blur(4px);
  background: rgba(132, 132, 132, 0.3);

  padding: 55px 60px;
}
.formTitle {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 39px;

  .titleLeft {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 131%;
    color: #fff;
  }
  .titleRight {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 44px;
    text-align: center;
    color: #fff;
  }
}
.registerBlock {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.formInput {
  border: 1px solid #fff;
  border-radius: 40px;
  height: 64px;
  background: transparent;

  text-align: center;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  color: #fff;
}
.loginInput {
  display: flex;
  flex-direction: column;

  .inputHeader, .inputFooter {
    display: flex;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: #fff;
  }
  .inputHeader {
    justify-content: flex-start;
    margin-bottom: 5px;
  }
  .inputFooter {
    justify-content: flex-start;
    margin-top: 8px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 137%;
    color: #747474;
  }
}
.nextStep {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-top: 88px;

  .nextBtn {
    display: flex;
    justify-content: space-between;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 131%;
    color: #fff;

    cursor: pointer;
  }
}
.btnAuth {
  border-radius: 40px;
  width: 328px;
  height: 64px;
  background: linear-gradient(219deg, #0a946d 0%, #19385c 100%);
  margin-top: 16px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
}
.signUpLine {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #fff;
}
.linkUnderline {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}